{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
   
     <!-- Blog Comment Form Section -->
    <section id="blog-comment-form" class="blog-comment-form section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <form method="post" action="{% url 'user:register' %}" enctype="multipart/form-data" role="form" >
            {% csrf_token %}<!--güvenlik için ekstra token oluşturulur-->
            {% if form.errors %}<!--hata mesajlarını iyi gösterebilmek için-->
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
            {% endif %}

          <div class="section-header">
            <h3>Kayıt Olun</h3>
            <p>Makale paylaşabilmek için hesabınızı oluşturun</p>
          </div>

          <div class="row gy-3">
            <div class="col-md-6 form-group">
              <label for="id_username" >Kullanıcı Adı *</label>
              {{form.username}}
              
            </div>

            <div class="col-md-6 form-group">
              <label for="id_first_name">Ad *</label>
              {{form.first_name}}
            </div>

            <div class="col-md-6 form-group">
              <label for="id_last_name">Soyad *</label>
              {{form.last_name}}
            </div>
            <div class="col-md-6 form-group">
              <label for="id_email">E-Posta Adresi *</label>
              {{form.email}}
            </div>
            <div class="col-md-6 form-group">
              <label for="id_password1">Parola *</label>
              {{form.password1}}
            </div>
            <div class="col-md-6 form-group">
              <label for="id_password2">Parola Tekrar *</label>
              {{form.password2}}
            </div>
            <div class="col-md-6 form-group">
              <label for="id_profession">Meslek(Opsiyonel) </label>
              {{form.profession}}
            </div>
            <div class="col-md-6 form-group">
              <label for="id_profile_image">Profil Fotoğrafı(Opsiyonel)</label>
              {{form.profile_image}}
            </div>

                <!-- Bilgilendirme Metni -->
            <div class="col-12 text-center mt-3">
            <p>
                Hesabınız var mı?
                <a href="{% url 'user:login' %}" class="text-primary fw-semibold">
                Hemen giriş yapın.
                </a>
            </p>
            </div>

            <div class="col-12 text-center">
              <button type="submit" class="btn-submit">Kayıt Ol</button>
            </div>
          </div>

        </form>

      </div>

    </section><!-- /Blog Comment Form Section -->
    

{% endblock body %}

