{% extends "layout.html" %}

{% block body %}

   
     <!-- Blog Comment Form Section -->
    <section id="blog-comment-form" class="blog-comment-form section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <form method="post" action="{% url 'article:update' article.id %}" enctype="multipart/form-data" role="form" >
            {% csrf_token %}<!--güvenlik için ekstra token oluşturulur-->
            {{ form.media }}
             {% if form.errors %}
                <div class="alert alert-danger">
                {% for field in form %}
                    {% for error in field.errors %}
                    <p>{{ field.label }}: {{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                </div>
            {% endif %}

          <div class="section-header">
            <h3>Makale Güncelle</h3>
            <p>Güncellemek üzere makalenizde değişklikler yapın</p>
          </div>

          <div class="row gy-3">
            <div class="col-md-6 form-group">
              <label for="id_title" >Makale Başlığı *</label>
              {{form.title}}
              
            </div>

            <div class="col-md-6 form-group">
              <label for="id_interest_area">İlgi Alanı</label>
              {{form.interest_area}}
            </div>

            <div class="col-md-12 form-group">
              <label for="id_content">Makale *</label>
              {{form.content}}
            </div>
            <div class="col-md-12 form-group">
              <label for="id_article_image">Makale Fotoğrafı(Opsiyonel)</label>
                {% if form.instance.article_image.name != "article_pics/default_article.jpg" %}
                    {{ form.article_image }}
                {% else %}
                    <input type="file" name="article_image" class="form-control">
                {% endif %}
            </div>
            

            <div class="col-12 text-center">
              <button type="submit" class="btn-submit">Makaleyi Güncelle</button>
            </div>
          </div>

        </form>

      </div>

    </section><!-- /Blog Comment Form Section -->
    

{% endblock body %}

